<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-01-05T07:02:13Z</date>
	<key>WorkspacePath</key>
	<string>/Users/nvc5/Documents/FluxTube/macos/Runner.xcworkspace</string>
</dict>
</plist>
